/* Woocommerce */

.woocommerce div.product div.images{
    margin-bottom: 5em !important;
}

.single-product .woocommerce-Price-amount, .added_to_cart:hover{
    color: #ff9933;
}

.single-product .product_title{
    text-transform: uppercase !important;
    text-align: left !important;
    font-weight: 500 !important;
    margin-bottom: 0px !important;
}

.single-product .price{
    text-align: left;
    font-weight: 500 !important;
}

.single-product .woocommerce-Price-amount{
    font-size: 26px !important;
}

.single-product .woocommerce-product-details__short-description p{
    text-align: left;
    font-weight: 400 !important;
}

.more-product{
    clear: both;
    color: #fff;
    position: relative;
}

.more-product h2{
    color: #fff;
    text-align: left;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 500;
}

.more-product p:last-child{
    margin-bottom: 0px;
}

.more-product .bloc{
    width: 50%;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}
.more-product .bloc p{
    color:white;
}

.more-product .img{
    width: 53%;
    padding: 0px;
    margin-left: -3%;
    z-index: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.more-book{
    clear: both;
}

.novelty, .more-book{
    display: block;
    background-image: url('../images/drop-product.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.novelty h2, .more-book h2{
    margin-bottom: 20px;
    font-weight: 600;
}

.novelty h3{
    text-transform: initial;
    font-size: 28px;
    font-weight: 500;
    margin-top: 30px;
}

.novelty img{
    height: 150px;
}

.carbel-quality h2{
    font-weight: 600;
}

.carbel-quality p{
    margin-top: 20px;
    color: #000000;
}

.carbel-quality .col-lg-3{
    border-right: 1px solid #f7f7f7;
}

.carbel-quality .col-lg-3:last-child{
    border-right: none;
}

.woocommerce-tabs h2{
    font-weight: 600;
}

.woocommerce div.product .woocommerce-tabs ul.tabs{
    padding: 0px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active{
    background-color: #ff9933;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li{
    background-color: #000000;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce div.product .woocommerce-tabs ul.tabs li.active{
    border: none;
    border-radius: 0px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce div.product .woocommerce-tabs ul.tabs li a{
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover{
    color: #fff;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after, .woocommerce div.product .woocommerce-tabs ul.tabs li::before,
.woocommerce div.product .woocommerce-tabs ul.tabs::before{
    content: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs{
    margin-bottom: 0px;
}

.woocommerce div.product .woocommerce-tabs .panel{
    padding: 50px;
    -webkit-box-shadow: 0 10px 26px 0 rgba(50, 50, 50, 0.13);
    box-shadow: 0 10px 26px 0 rgba(50, 50, 50, 0.13);
}

.woocommerce .quantity .qty{
    height: 45px;
}

/* Panier */

#coupon_code{
    width: 200px;
}

.coupon button.button{
    border-radius: 0px;
    background: #ff9933;
    color: #fff;
    line-height: 0.9;
}

.checkout-button{
    background-image: linear-gradient(90deg,#2a2559 0,#393587 100%) !important;
    border-radius: 0px !important;
}

.checkout-button:hover{
    background-image: linear-gradient(90deg,#393587 0,#2a2559 100%) !important;
}

/* Page commande */

.checkout h3{
    margin: 30px 0;
}

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2{
    max-width: 48%;
}

.wpcf7-form label, .wpcf7-form span, .woocommerce-form-login label, .woocommerce-form-login span, .woocommerce-MyAccount-content label, .woocommerce-MyAccount-content span, .woocommerce-billing-fields label, .woocommerce-billing-fields span, .woocommerce-additional-fields label, .woocommerce-additional-fields span, .shipping_address label, .shipping_address span, .woocommerce-form-register label, .woocommerce-form-register span{
    width: 100%;
    margin-bottom: 0px !important;
}

.woocommerce-checkout #payment{
    background-color: #2a2559;
    color: #fff;
}

.woocommerce-checkout #payment a{
    color: #ff9933;
}

.woocommerce button.button.alt, .woocommerce button.button.alt:hover{
    background-color: #ff9933;
}

/* Login */

.show-password-input{
    width: initial !important;
    top: 5px !important;
}

.woocommerce-form-login__submit, .woocommerce-MyAccount-content .button, .woocommerce-form-register__submit{
    background-image: linear-gradient(90deg,#2a2559 0,#393587 100%) !important;
    border-radius: 0px !important;
    color: #fff !important;
    font-weight: 400 !important;
}

.woocommerce-account .addresses .title .edit{
    float: inherit;
    display: block;
    width: max-content;
}

.woocommerce div.product h1.product_title{
	font-size:38px;
}

.chiffre-gros{
    font-size:50px;
    font-weight: bold;
}

.more-book.boites h1, .more-book.boites h2{
    font-size: 26px;
}
.tabs.wc-tabs.boites #tab-title-bloc_infos, .tabs.wc-tabs.boites #tab-bloc_infos{
    display: none !important;
} 

/*temp fix*/
.postid-426 .more-product{
	margin-bottom:120px;
}